body {
    font-family: 'Poppins', sans-serif;

}

.first-banner {

    background-image: url(images/donation8.jpg);
    font-weight: 700;
    color: white;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;




}

.innitial-banner {
    padding: 10% 20% 0% 20%;
}

.donate-now {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 400;
    border-radius: 4px;
    font-size: 20px;
    padding: 10px 10px;


}

.donate-pera {
    text-align: center;
    padding: 2% 20% 0% 20%;
}

.donate-button {
    text-align: center;
    padding: 20px;
}

.input {
    padding: 20px 30px;
}